<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: page-header"></nav>

<body>

    <div class="container body-content">

        <h1 th:text="${pub.name} + ' : Add Brew to Menu'">Add Brew to Menu</h1>

        <form th:action="@{/pubs/brews/add/}" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label>Name</label>
                <input class="form-control"
                       th:field="${brew.name}"/>
                <span th:errors="${brew.name}"
                      class="error"></span>
            </div>

            <div class="form-group">
                <label>IBU</label>
                <input class="form-control"
                       placeholder="Optional..."
                       th:field="${brew.ibu}"/>
                <span th:errors="${brew.ibu}"
                      class="error"></span>
            </div>

            <div class="form-group">
                <label>ABV</label>
                <input class="form-control"
                       placeholder="Optional..."
                       th:field="${brew.abv}"/>
                <span th:errors="${brew.abv}"
                      class="error"></span>
            </div>

            <div class="form-group">
                <label>Brewer</label>
                <input class="form-control"
                       placeholder="Optional..."
                       th:field="${brew.brewer}"/>
                <span th:errors="${brew.brewer}"
                      class="error"></span>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control"
                       placeholder="Optional..."
                       th:field="${brew.description}"/>
                <span th:errors="${brew.description}"
                      class="error"></span>
            </div>

            <div class="form-group">
                <label>Style</label>
                <input class="form-control"
                       placeholder="Optional..."
                       th:field="${brew.style}"/>
                <span th:errors="${brew.style}"
                      class="error"></span>
            </div>
            <div class="form-group">
                <label>Upload Image</label>
                <input type="file"
                       name="files"
                       class="form-control"
                       placeholder="Optional..."/>
            </div>

            <div th:if="${message}">
                <span th:text="${message}"></span>
            </div>

            <div hidden>
                <label>pubId</label>
                <input type="text" name="pubId" th:value="${pub.id}">
            </div>

            <input type="submit">

            <button type="button"><a th:href="@{/pubs/view/{pubId}(pubId=${pub.id})}">Cancel</a> </button>

        </form>

    </div>

</body>
</html>