<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: page-header"></nav>

    <div class="container body-content">
        <a th:href="@{/pubs/view/{pubId}/(pubId=${pub.id})}"><h1 th:text="${'Pub: ' + pub.name}">Pub Name</h1></a>
        <h2 th:text="${'Address: ' + pub.address + ' ' + pub.city + ', ' + pub.state + ' ' + pub.areaCode}">Pub Address</h2>

        <th:block th:if="${!isFavorite}">
            <a type="button" class="btn btn-primary" th:href="@{'/pubs/brews/addFavoriteBrew/{brewId}/'(brewId=${brew.id})}">Add To Favorites</a>
        </th:block>

        <th:block th:if="${isFavorite}">
            <a type="button" class="btn btn-primary" th:href="@{'/pubs/brews/removeFavoriteBrew/{brewId}/'(brewId=${brew.id})}">Remove From Favorites</a>
        </th:block>

        <h2 th:text="${'Reviews of : ' + brew.name}">Reviews of Brew</h2>

        <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">IBU</th>
                        <th scope="col">ABV</th>
                        <th scope="col">Brewer</th>
                        <th scope="col">Description</th>
                        <th scope="col">Style</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td scope="row" th:text="${brew.name}">Name</td>
                        <td th:text="${brew.ibu}">IBU</td>
                        <th th:text="${brew.abv}">Rating</th>
                        <td th:text="${brew.brewer}">Brewer</td>
                        <td th:text="${brew.description}">Description</td>
                        <td th:text="${brew.style}">Style</td>
                    </tr>
                </tbody>
            </table>
        </p>

        <a type="button" class="btn btn-primary" th:href="@{/review/{pubId}/{brewId}/(pubId=${pub.id}, brewId=${brew.id})}">Review This Brew</a>

        <p>
            <table   class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Review ID</th>
                    <th scope="col">Brew ID</th>
                    <th scope="col">Review Title</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Review</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="review : ${reviews}">
                    <tr class="text-center">
                        <td scope="row" th:text="${review.id}">ID</td>
                        <td th:text="${review.brew.id}">BrewID</td>
                        <th th:text="${review.reviewTitle}">Title</th>
                        <td th:text="${review.rating}">Rating</td>
                        <td th:text="${review.reviewText}">ReviewText</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </p>



    </div>

    <footer th:replace="fragments :: page-footer"></footer>

</body>

</html>