<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: page-header"></nav>



<div class="container body-content">
    <label>Username:</label>
    <p th:text="${user.username}">Username</p>
</div>
<div class="container body-content">
    <label>Name:</label>
    <p th:text="${user.firstName}+' '+${user.lastName}">Name</p>
</div>
<div class="container body-content">
    <label>Email:</label>
    <p th:text="${user.email}">Email</p>
</div>
<div><a th:href="@{/editAccount}">Edit Account</a></div>
<div><a th:href="@{/newPassword}">Change Password</a></div>
<div><a th:href="@{/deleteAccount}">Delete Account</a></div>
<footer th:replace="fragments :: page-footer"></footer>
</body>
</html>
