<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <nav th:replace="fragments :: page-header"></nav>

    <div class="container body-content mt-3">
        <h1>Edit Account</h1>
        <form th:action ="@{/resetAccountInformation}" method="post">
            <div class="form-group">
                <label>Change Email : <input class="form-control" th:field="${user.email}" th:value="${user.email}"></label>
                <span class="error" th:errors="${user.email}"></span>
            </div>

            <div class="form-group">
                <label>Change Username : <input class="form-control" type = "text"
                       th:field="${user.username}" th:value="${user.username}"/></label>
                <span class="error" th:errors="${user.username}"></span>
            </div>

            <div class="form-group">
                <label>Change First Name : <input class="form-control" type = "text"
                       th:field="${user.firstName}" th:value="${user.firstName}"/></label>
                <span class="error" th:errors="${user.firstName}"></span>
            </div>

            <div class="form-group">
                <label>Change Last Name : <input class="form-control" type = "text"
                       th:field="${user.lastName}" th:value="${user.lastName}"/></label>
                <span class="error" th:errors="${user.lastName}"></span>
            </div>

            <div hidden>
                <input type="text" th:field="${user.pwhash}" th:value="${user.pwhash}"/>
            </div>

            <button type="submit">Submit</button>
            <a th:href="@{/accountDetails}"><button type="button">Cancel</button></a>

        </form>

        <div th:text="${message}"></div>

    </div>

    <footer th:replace="fragments :: page-footer"></footer>

</body>
</html>