<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: page-header"></nav>
<div>
    <h1 th:text="${editAccountDTO.email}"></h1>
    <h1>Edit Account</h1>
    <form th:action ="@{/resetAccountInformation}" method="post">
        <div hidden>
            <input th:field="${editAccountDTO.email}" th:value="${editAccountDTO.email}">
        </div>
        <p>
            <label>Change Username</label>
            <input type = "text"
                   th:field="${editAccountDTO.username}"
            />
        </p>
        <p>
            <label>Change First Name</label>
            <input type = "text"
                   th:field="${editAccountDTO.firstName}"
            />
        </p>
        <p>
            <label>Change Last Name</label>
            <input type = "text"
                   th:field="${editAccountDTO.lastName}"
            />
        </p>
        <p>
            <label>Change Password</label>
            <input type = "password"
                   th:field="${editAccountDTO.password}"
            />
        </p>
        <p>
            <label>Verify New Password</label>
            <input type = "password"
                   th:field="${editAccountDTO.verifyPassword}"
            />
        </p>
        <button type="submit">Submit</button>
    </form>
    <p th:text="${message}">
    </p>
    <p> <a th:href="@{/userLogin}">Go to login page.</a></p>
</div>
<footer th:replace="fragments :: page-footer"></footer>
</body>
</html>