<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: page-header"></nav>

    <div class="container body-content mt-3">
        <h1>Forgot Password</h1>

        <form th:action="@{/newPassword}" method="post">

            <div class="form-group">
                <label>Enter Account Email : <input class="form-control" type="text" th:field= "${newPasswordDTO.email}"/></label>
            </div>

            <button type="submit">Get New Password!</button>
        </form>

    </div>

    <footer th:replace="fragments :: page-footer"></footer>

</body>
</html>