<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <nav th:replace="fragments :: page-header"></nav>

        <div class="container body-content mt-3">
            <h1 th:text="${newPasswordDTO.email}"></h1>
            <h1>New Password</h1>
            <form th:action ="@{/resetPassword}" method="post">
                <div hidden>
                    <input th:field="${newPasswordDTO.email}" th:value="${newPasswordDTO.email}">
                </div>
                <p>
                    <label>New Password</label>
                    <input type = "password"
                           th:field="${newPasswordDTO.password}"/>
                    <span th:errors="${newPasswordDTO.password}" class="errors"></span>
                </p>
                <p>
                    <label>Verify New Password</label>
                    <input type = "password"
                           th:field="${newPasswordDTO.verifyPassword}"/>
                    <span th:errors="${newPasswordDTO.verifyPassword}" class="errors"></span>
                </p>

                <p th:text="${message}"></p>
                <button type="submit">Submit</button>
            </form>
            <p> <a th:href="@{/login}">Go to login page.</a></p>
        </div>


    <footer th:replace="fragments :: page-footer"></footer>

</body>
</html>