<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: page-header"></nav>

    <div class="container body-content mt-3">

        <h1>New Password</h1>
        <h1 th:text="${newPasswordDTO.email}"></h1>

        <form th:action ="@{/resetPassword}" method="post">
            <div hidden>
                <input th:field="${newPasswordDTO.email}" th:value="${newPasswordDTO.email}">
            </div>
            <div class="form-group">
                <label>New Password : <input  class="form-control" type = "password" th:field="${newPasswordDTO.password}"/></label>
                <span th:errors="${newPasswordDTO.password}" class="errors"></span>
            </div>

            <div class="form-group">
                <label>Verify New Password : <input  class="form-control" type = "password" th:field="${newPasswordDTO.verifyPassword}"/></label>
                <span th:errors="${newPasswordDTO.verifyPassword}" class="errors"></span>
            </div>

            <div th:text="${message}"></div>

            <button type="submit">Submit</button>
            <a th:href="@{'/accountDetails'}"><button class="cancelbtn" type="button">Cancel</button></a>

        </form>
    </div>

    <footer th:replace="fragments :: page-footer"></footer>

</body>
</html>