<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: page-header"></nav>

    <div class="container body-content mt-3">

        <h1 th:text="${pub.name} + ' : Review'">brew-pub-name</h1>

        <form th:action="@{/review/brew/}" method="post">

            <div class="form-group">
                <label>Title of Review</label>
                <input class="form-control"
                       placeholder="Enter review title..."
                       th:field="${brewReview.reviewTitle}"/>
                <span th:errors="${brewReview.reviewTitle}"
                      class="error"></span>
            </div>

            <div class="form-group">
                <label>Rating</label>
                <span th:errors="${brewReview.rating}"
                      class="error"></span>
                <select class="form-control" th:field="${brewReview.rating}">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
            </div>

            <div class="form-group">
                <label>Review</label>
                <span th:errors="${brewReview.reviewText}"
                      class="errors"></span>
                <textarea class="form-control" th:field="${brewReview.reviewText}"
                          placeholder="Enter review here... (Optional)"></textarea>
            </div>

            <div hidden>
                <label>pubId</label>
                <input type="text" name="pubId" th:value="${pub.id}">
            </div>

            <div hidden>
                <label>brewId</label>
                <input type="text" name="brewId" th:value="${brew.id}">
            </div>

            <input type="submit">

            <button type="button"><a th:href="@{/pubs/brews/{pubId}/view/{brewId}/(pubId=${pub.id}, brewId=${brew.id})}">Cancel</a> </button>
        </form>

    </div>

    <footer th:replace="fragments :: page-footer"></footer>

</body>
</html>