<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: page-header"></nav>

<div class="container body-content">

    <h1 th:text="${'Pub: ' + pub.name}">Pub Name</h1>
    <h2 th:text="${'Address: ' + pub.address + ' ' + pub.city + ', ' + pub.state + ' ' + pub.areaCode}">Pub Address</h2>

    <button type="button" class="btn btn-primary" th:href="@{'/review/pub/'} + ${pub.id}">Review This Pub</button>

    <p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Review ID</th>
                    <th scope="col">Pub ID</th>
                    <th scope="col">Review Title</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Review</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="review : ${reviews}">
                    <tr class="text-center">
                        <td scope="row" th:text="${review.id}">Rating</td>
                        <td th:text="${review.pub.id}">Rating</td>
                        <th th:text="${review.reviewTitle}">Rating</th>
                        <td th:text="${review.rating}">Rating</td>
                        <td th:text="${review.reviewText}">Rating</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </p>
    <!--    TODO: list of brews-->
</div>

</body>
</html>