<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: page-header"></nav>

    <div class="container-fluid body-content mt-3">

        <div class="container-fluid row justify-content-center">
            <div class="col-med p-3">
                <div class="h1" th:text="${pub.name}">Pub Address</div>
                <div class="h2" th:text="${pub.address}">Address</div>
                <div class="h2" th:text="${pub.city + ', ' + pub.state + ' ' +pub.areaCode}">CityStateZip</div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center m-2">
                <span sec:authorize="isAuthenticated()">
                    <th:block th:if="${!isFavorite}">
                        <a type="button" class="btn btn-primary m-2" th:href="@{'/pubs/addFavoritePub/{pubId}/'(pubId=${pub.id})}">Add Pub To Favorites</a>
                    </th:block>

                    <th:block th:if="${isFavorite}">
                        <a type="button" class="btn btn-primary m-2" th:href="@{'/pubs/removeFavoritePub/{pubId}/'(pubId=${pub.id})}">Remove Pub From Favorites</a>
                    </th:block>
                </span>
                <span class="h5 m-2" th:text="${favoritesCount + ' people have favorited this pub.'}"></span>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <div class="row justify-content-center m-2">
                        <span class="h3 m-2" th:text="${'Reviews of: ' + pub.name}">Reviews of Pub </span>
                        <th:block th:if="${isReviewable}">
                            <span><a sec:authorize="isAuthenticated()" type="button" class="btn btn-primary m-2" th:href="@{'/review/pub/'} + ${pub.id}">Review This Pub</a></span>
                        </th:block>
                        <span class="h3 m-2" th:text="${'Average Rating: ' + averageRating}"></span>
                    </div>

                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="w-25 p-3 text-center">Review Title</th>
                                    <th scope="col" class="p-3 text-center"></th>
                                    <th scope="col" class="w-25 p-3 text-center">Rating</th>
                                    <th scope="col" class="w-50 p-3 text-center">Review</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="review : ${reviews}">
                                    <tr class="text-center">
                                        <td scope="row" th:text="${review.reviewTitle}">Title</td>
                                        <td>
                                            <th:block th:if="${#authentication.name} == ${review.user.username}">
                                                <a sec:authorize="isAuthenticated()" type="button" class="btn btn-primary" th:href="@{/review/pub/{reviewId}/edit(reviewId=${review.id})}">Edit Review</a>
                                            </th:block>
                                        </td>
                                        <td th:text="${review.rating}">Rating</td>
                                        <td th:text="${review.reviewText}">ReviewText</td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="row justify-content-center m-2">
                        <span class="h3 m-2" th:text="${'Brews at: ' + pub.name}">Brews at Pub </span>
                        <span><a sec:authorize="isAuthenticated()" type="button" class="btn btn-primary m-2" th:href="@{'/pubs/brews/{pubId}/add'(pubId=${pub.id})}">Add New Brew</a></span>
                    </div>

                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Name</th>
                                    <th scope="col" class="text-center">Style</th>
                                    <th scope="col" class="text-center">IBU</th>
                                    <th scope="col" class="text-center">ABV</th>
                                    <th scope="col" class="text-center">Brewer</th>
                                    <th scope="col" class="text-center w-25 p-3">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="brew : ${brews}">
                                    <tr class="text-center">
                                        <td scope="row"><a th:href="@{/pubs/brews/view/{brewId}/(brewId=${brew.id})}" th:text="${brew.name}">Name</a></td>
                                        <td th:text="${brew.style}">Style</td>
                                        <td th:text="${brew.ibu}">IBU</td>
                                        <th th:text="${brew.abv}">Rating</th>
                                        <td th:text="${brew.brewer}">Brewer</td>
                                        <td th:text="${brew.description}">Description</td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <footer th:replace="fragments :: page-footer"></footer>

</body>
</html>