<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
<h1>Create Account</h1>
<form method="post" th:action="@{/createAccount}">
    <div class="form-group">

        <label>First Name</label>
        <input placeholder="Enter First Name"
               th:field="${createAccountDTO.firstName}"/>
        <span class="error"
              th:errors="${createAccountDTO.firstName}"></span>
    </div>

    <div class="form-group">

        <label>Last Name</label>
        <input placeholder="Enter Last Name"
               th:field="${createAccountDTO.lastName}"/>
        <span class="error"
              th:errors="${createAccountDTO.lastName}"></span>
    </div>

    <div class="form-group">

        <label>Email</label>
        <input placeholder="Enter Email"
               th:field="${createAccountDTO.email}"/>
        <span class="error"
              th:errors="${createAccountDTO.email}"></span>
    </div>

    <div class="form-group">

        <label>Username</label>
        <input placeholder="Enter Username"
               th:field="${createAccountDTO.username}"/>
        <span class="error"
              th:errors="${createAccountDTO.username}"></span>
    </div>

    <div class="form-group">

        <label>Password</label>
        <input placeholder="Enter Password" th:field="${createAccountDTO.password}"
               type="password"/>
        <span class="error"
              th:errors="${createAccountDTO.password}"></span>
    </div>

    <div class="form-group">

        <label>Confirm Password</label>
        <input placeholder="Repeat Password" th:field="${createAccountDTO.verifyPassword}"
               type="password"/>
        <span class="error"
              th:errors="${createAccountDTO.verifyPassword}"></span>
    </div>

    <div class="clearfix">
        <button class="signupbtn" type="submit">Sign Up</button>
        <button class="cancelbtn" type="button">Cancel</button>
    </div>
</form>
</div>
</body>
</html>