<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>
<div class="container body-content">
    <h1>Forgot Password</h1>
    <form th:action="@{/newPassword}" method="post">
        <p>
            <label>Email</label>
            <input type = "text"
                   th:field= "${newPasswordDTO.email}"/>
        </p>
        <button type="submit">Get New Password!</button>
    </form>
</div>
<footer th:replace="fragments :: page-footer"></footer>
</body>
</html>