<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
    <h1>Space</h1>
    <h2>Forgot Password</h2>
    <form th:action="@{/forgotPassword}" method="post">
        <p>
            <label>Email</label>
            <input type = "text"
                   id = "email"
                   value = "Email" />
        </p>
    </form>
    <form method="get" action="/newPassword">
        <button type="submit">Get New Password!</button>
    </form>
</div>
</body>
</html>