<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: page-header"></nav>

    <div class="container body-content mt-3">

        <h1>Welcome!</h1>

        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{'/createAccount'}">
                <button type="submit">Create new account?</button>
            </a>
        </div>
    </div>


    <footer th:replace="fragments :: page-footer"></footer>

</body>
</html>