<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container  body-content">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Pubs By Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/pubs(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="pub : ${pubs}">
                <a th:href="@{/list/pubs(column=name,value=${pub.name})}" th:text="${pub.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="pub : ${pubs}">
                <a th:href="@{/list/pubs(column=address,value=${pub.address})}" th:text="${pub.address}"></a>
            </li>
        </td>
        <td>
            <li th:each="pub : ${pubs}">
                <a th:href="@{/list/pubs(column=city,value=${pub.city})}" th:text="${pub.city}"></a>
            </li>
        </td>
        <td>
            <li th:each="pub : ${pubs}">
                <a th:href="@{/list/pubs(column=state,value=${pub.state})}" th:text="${pub.state}"></a>
            </li>
        </td>
    </tr>
</table>

</body>
</html>