<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
    <body>
        <div>
            <h1 th:text="${newPasswordDTO.email}"></h1>
            <h1>New Password</h1>
            <form th:action ="@{/resetPassword}" method="post">
                <div hidden>
                    <input th:field="${newPasswordDTO.email}" th:value="${newPasswordDTO.email}">
                </div>
                <p>
                    <label>New Password</label>
                    <input type = "password"
                           th:field="${newPasswordDTO.password}"
                    />
                </p>
                <p>
                <label>Verify New Password</label>
                <input type = "password"
                       th:field="${newPasswordDTO.verifyPassword}"
                />
                </p>
                <button type="submit">Submit</button>
            </form>
            <p th:text="${message}">
            </p>
        </div>
    </body>
</html>