<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
    <body>
        <div>
            <h1 th:text="${newPasswordDTO.email}"></h1>
            <h1>New Password</h1>
            <form :action ="@{/newPassword}" method="post">
                <p>
                    <label>New Password</label>
                    <input type = "password"
                           th:field="${newPasswordDTO.password}"
                    />
                </p>
                <p>
                <label>Verify New Password</label>
                <input type = "password"
                       th:field="${newPasswordDTO.verifyPassword}"
                />
                </p>
            </form>
            <form method="get" action="/index">
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>