<div class="container body-content">

    <h1>New Password</h1>
    <form th:action ="@{/newPassword}" method="post">
        <p>
            <label>New Password</label>
            <input type = "text"
                   id = "newPassword"
                   />
        </p>
        <p>
            <label>Verify New Password</label>
            <input type = "text"
                   id = "verifyNewPassword"
            />
        </p>
    </form>
    <form method="get" action="/index">
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>