<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>


<div class="container body-content">
    <h1 th:text="${brewpub}">brew-pub-name</h1>

    <form th:action="@{/rate}" method="post">
        <p>
            <h2>Title of Review</h2>
            <input type="text" size="58" name="reviewTitle" placeholder="Enter review title..." required>

            <h2>Rating</h2>
            <select name="rating" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            <h2>Review</h2>
            <textarea rows="4" cols="60" name="reviewField" placeholder="Enter review here... (Optional)"></textarea>
        </p>
        <p>
            <input type="submit">
            <button type="button"><a th:href="@{/}">Cancel</a> </button>
        </p>
    </form>

</div>


</body>
</html>