<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container  body-content">

<div th:replace="fragments :: page-header"></div>

<h1 th:text="${#strings.capitalizeWords(title)}"></h1>

<form th:action="@{/search/results}" method = "post">
    <h2>Search by:</h2>

    <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />


<table class="job-listing">
    <tr th:each="pub : ${pubs}">
        <td>
            <p>
                Pub Id:
                <a th:href="@{'/pubs/view/' + ${pub.id}}" th:text="${pub.id}"></a>
            </p>
            <p th:text="${'Name: ' + pub.name}"></p>
            <p th:text="${pub.state}"></p>

        </td>
    </tr>

    <tr th:each="brew : ${brews}">
        <td>
            <!--<p>
                Brew Id:
                <a th:href="@{'/pubs/view/' + ${pub.id}}" th:text="${pub.id}"></a>
            </p>-->
            <p th:text="${'Name: ' + brew.name}"></p>
            <p th:text="${'Style: ' + brew.style}"></p>

        </td>
    </tr>
</table>

</div>

</body>
</html>