<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
    <h1>Edit Account</h1>
    <form th:action="@{/editAccount}" method="post">
        <p>
            <label>Email</label>
            <input type = "text"
                   th:field= "${editAccountDTO.email}"/>
        </p>
        <button type="submit">Edit Account!</button>
    </form>
</div>
</body>
</html>
