<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/helloWorld.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
    <form method="post">
        <div class="form-group">
            <label th:for="username">Username
                <input class="form-control" th:field="${loginDTO.username}">
            </label>
            <p class="error" th:errors="${loginDTO.username}"></p>
        </div>
        <div class="form-group">
            <label>Password
                <input class="form-control" th:field="${loginDTO.password}" type="password">
            </label>
            <p class="error" th:errors="${loginDTO.password}"></p>
        </div>

        <input type="submit" class="btn btn-primary" value="Log In" />
    </form>

    <p> <a href="/forgotPassword">Forgot password?</a><a</p>
    <p><a href="/accountCreation">Create account</a></p>
</div>
</body>
</html>